!!! 5
%html
  %head
    %meta{:charset => 'utf-8'}
    %title OpenAntrag for Firefox OS
  %body
    %h1 OpenAntrag for Firefox OS

    Currently it's not working, but I'm about to fix that :)

    :javascript
      var xhr = new XMLHttpRequest();
      xhr.open('GET', 'http://openantrag.de/api/representation/GetKeyValueList?format=json');
      try {
        xhr.send();
      } catch(err) {
        console.log(err);
      }
