!!! 5
%html{:lang => :de}
  %head
    %meta{:charset => 'utf-8'}
    %title Forschungstabelle
    :css
      #add {
        float: right;
        color: yellow;
        background-color: darkgreen;
        border: 1px solid black;
      }

      table, table th, table td {
        border: 1px solid black;
      }

      tr .civil {
        background-color: green;
      }

      tr .military {
        background-color: brown;
      }

      tr .mark {
        background-color: red;
      }

  %body
    Schlacht Um Kyoto
    %button#togetherjs Start TogetherJS
    #add +
    %table#research
      %tr
        %th Nickname
        %th Gilde
        %th.civil Verwaltung
        %th.civil Staatswesen
        %th.civil Feudalismus
        %th.civil Spionage
        %th.civil Forstwirtschaft
        %th.civil Stollenbau
        %th.civil Braukunst
        %th.civil Feldwirtschaft
        %th.military Yari
        %th.military Katana
        %th.military Naginata
        %th.military Arkebuse
        %th.military Yumi
        %th.military Ashigaru-Rüstung
        %th.military Samurai-Rüstung
        %th.military Entermesser
        %th.military Muskete
        %th.military Kanone

    :javascript
      var appendRow = function() {
        var res = document.querySelector('#research');

          var tr = document.createElement('tr');
          var td;

          td = document.createElement('td');
          td.appendChild(document.createTextNode('User'));
          tr.appendChild(td);

          td = document.createElement('td');
          td.appendChild(document.createTextNode('Guild'));
          tr.appendChild(td);

          for (var i = 0; i < 8; i++) {
            td = document.createElement('td');
            td.appendChild(document.createTextNode('0'));
            td.classList.add('civil');
            tr.appendChild(td);
          }

          for (var i = 0; i < 10; i++) {
            td = document.createElement('td');
            td.appendChild(document.createTextNode('0'));
            td.classList.add('military');
            tr.appendChild(td);
          }
  
          res.appendChild(tr);
      };

    :javascript
      var res = document.querySelector('#research');
      res.addEventListener('click', function(e) {
        var cell = e.target;
        if (cell.nodeName === 'TD') {
          cell.classList.toggle('mark');

          var val = cell.textContent;
          cell.textContent = '';
          var input = document.createElement('input');
          input.type = 'text';
          input.value = val;
          input.addEventListener('keypress', function(e) {
            if (!e) e = window.event;
            var kc = e.keyCode || e.which;
            if (kc == '13') {
              cell.textContent = this.value;
              updateStorage();
              this.parentNode.removeChild(this);
            }
          }, false);
          cell.appendChild(input);
        }
      }, false);

      var updateStorage = function() {
        var trs = res.querySelectorAll('tr');
        var store = {};
        for (tr in trs) {
          if (trs[tr].nodeName === 'TR' && trs[tr].firstChild.nodeName === 'TD') {
            tds = trs[tr].childNodes;
            store[tr] = {
              nickname: tds[0].textContent,
              guild: tds[1].textContent,
              administration: tds[2].textContent,
              politicalSystem: tds[3].textContent,
              feudalism: tds[4].textContent,
              espionage: tds[5].textContent,
              forestry: tds[6].textContent,
              galleryConstruction: tds[7].textContent,
              artOfBrewing: tds[8].textContent,
              agriculture: tds[9].textContent,
              yari: tds[10].textContent,
              katana: tds[11].textContent,
              naginata: tds[12].textContent,
              arkebuse: tds[13].textContent,
              yumi: tds[14].textContent,
              ashigaru: tds[15].textContent,
              samurai: tds[16].textContent,
              cutlass: tds[17].textContent,
              musket: tds[18].textContent,
              cannon: tds[19].textContent
            };
          }
        }
        window.sessionStorage.setItem('data', JSON.stringify(store));
      };

    :javascript
      var add = document.querySelector('#add');
      add.addEventListener('click', appendRow, false);

    :javascript
      var res = document.querySelector('#research');
      var data = JSON.parse(window.sessionStorage.getItem('data'));
      var row;
      var rows = Object.keys(data).length;
      for (nRows = 0; nRows < rows; nRows++) {
        appendRow();
        row = res.lastChild;
        dataRow = data[(nRows+1)];
        row.children[0].textContent = dataRow.nickname;
        row.children[1].textContent = dataRow.guild;
        row.children[2].textContent = dataRow.administration;
        row.children[3].textContent = dataRow.politicalSystem;
        row.children[4].textContent = dataRow.feudalism;
        row.children[5].textContent = dataRow.espionage;
        row.children[6].textContent = dataRow.forestry;
        row.children[7].textContent = dataRow.galleryConstruction;
        row.children[8].textContent = dataRow.artOfBrewing;
        row.children[9].textContent = dataRow.agriculture;
        row.children[10].textContent = dataRow.yari;
        row.children[11].textContent = dataRow.katana;
        row.children[12].textContent = dataRow.naginata;
        row.children[13].textContent = dataRow.arkebuse;
        row.children[14].textContent = dataRow.yumi;
        row.children[15].textContent = dataRow.ashigaru;
        row.children[16].textContent = dataRow.samurai;
        row.children[17].textContent = dataRow.cutlass;
        row.children[18].textContent = dataRow.musket;
        row.children[19].textContent = dataRow.cannon;
      }

    :javascript
      var tgth = document.querySelector('#togetherjs');
      tgth.addEventListener('click', function(TogetherJS) {
      }, false);
      TogetherJSConfig_dontShowClicks = true;
      TogetherJSConfig_cloneClicks = true;

    %script{:type => 'text/javascript', :src => 'togetherjs.min.js'}
